<!DOCTYPE html>
<html lang="en">
    @* Burada _Header.cshtml partial viewini çağırıyoruz. *@
@* <partial name="_Header" /> *@
@await Html.PartialAsync("_Header") @*Asenkron olarak çalışır.*@
<body>
    @await RenderSectionAsync("FirstSection", false)
    <partial name="_HeaderNavbar" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
