@model Kategori
@{
    ViewData["Title"] = "KategoriEkle";
}

<h1 class="display-6">Yeni Kategori Oluştur</h1>
<hr>
<form asp-controller="Home" asp-action="KategoriEkle" method="post">
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Ad"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Ad">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Aciklama"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Aciklama">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4 offset-2"> @*offset kaydırarak yazdırır. burada 2 kolon kaydırdı*@
            <input class="btn btn-success" type="submit" value="Kaydet">
        </div>
    </div>
</form>