* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.container {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 8px 16px;
    height: 70px;

}

.main-header-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;

}

.main-nav {
     
}

.main-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.main-nav-item {
    margin: 0 10px;
}

.main-nav-item a {
    text-decoration: none;
    color: white;
}

.main-nav-item a:hover {
    color: rgb(38, 39, 59);
}

/*Ben böyle tercih ediyorum.*/
.main-nav-item-login a {
    background-color: teal;
    padding: 4px 16px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.main-nav-item-login a:hover {
    color: teal;
    background-color: #fff;
    border: 2px solid teal;
}

/*Linear-gradient: resim üzerindeki renk değişikliğini, şeffaflığını sağdan sola veya diğer yönlerde akışını sağlar.*/
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgba(0,0,0,0.01), rgba(0,0,0,0.99)), url(/images/home-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgb(38, 39, 59);
    color: aliceblue;
    padding: 10px;
    width: 100%;
    height: 80vh;
    margin-top: 10px;
}

#showcase .content{
    background-color: rgba(46, 76, 109, 0.2);
    color: white;
    border-radius: 10px;
    padding: 35px;
    width: 45%;
    text-align: center;
}
#showcase .content h1 {
    font-size: 50px;
}
#how-it-works {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#how-it-works h2 {
    color: #3e4555;
    font-size: 30px;
    font-weight: bold;
}


.icon-box i {
    color: tomato;
    font-size: 50px;
    border-radius: 5px;
}

.icon-box h3 {
    color: #3e4555;
    font-size: 22px;
}

.features-left {
    background: url(/images/features.jpeg);
    background-position: top center;
    background-size: cover;
}

.features-right {
    background-color: #edf5f7;
    padding: 40px;
    vertical-align: top;
}

.features-right h3 {
    font-size: 30px;
}

/* .features-right a {
    background-color: tomato;
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
}

.features-right a:hover {
    background-color: #fff;
    color: tomato;
    border: 1px solid tomato;
} */

.section-title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.plan {
    background-color: #edf5f7;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.recommended-plan{
    background-color: #396ed0 !important; /*important, öncelik verir. diğer backgrounc-color'ları ezer.*/
    color: #fff;
}

.plan-badge {
    background-color: #fff;
    color: tomato;
    padding: 8px;
    border-radius: 5px;
}
.plan ul {
    list-style-type: none;
    padding: 0px;
}
.plan ul li {
    margin: 6px 0px;
}

/*Responsive Tasarımı*/
/*Tarayıcı genişliği bu piksellerin altında ise bu kodlar çalışır.*/
@media (max-width:632px){
    .main-header{
        flex-direction: column;
        height: auto;
    }    
    .main-nav{
        margin-top: 20px;
    }
    .main-nav-items{
        flex-direction: column;
    }
}
@media (max-width:790px){
    #showcase .content h1{
        font-size: 35px;
    }
    #showcase .content h2{
        font-size: 20px;
    }
}
@media (max-width:650px){
    #showcase .content {
        padding: 20px;
    }
    #showcase .content h1{
        font-size: 20px;
    }
    #showcase .content h2{
        font-size: 12px;
    }
}
@media (max-width:860px) {
    .row{
        flex-direction: column;
        align-items: center;
        
    }
    .col-3{
        width: 80% !important;
        margin-bottom: 30px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .features-left{
        height: 200px;
    }
    .recommended-plan{
        order: -1;
    }
    /* .plan {
        order: 1;
        order: 2;
        order: 3;
    }
    .recommended-plan{
        order: 1;
    } */
}