@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.selam @ViewBag.kisiAd</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section FirstSection{
    <div class="alert alert-danger">
        Dikkat Bu Bir Section
    </div>
}