<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>

</head>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-2 bg-black text-white">
            SideBar
        </div>
        <div class="col-10 p-5">
            <div class="row">
                <div class="">
                    <h1 class="text-primary display-6 fw-normal">
                        <a class="text-decoration-none" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required:false);
</body>
</html>
