@* Bu sayfalar içerisinde c# kodları ile html kodlarını birlikte yazmamızı sağlar.
    Bunlara razor page denir. mvc yapısı içinde view olarak da adlandırılır. *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Naber!</h1>
    <p>Bu paragrafı biz yazdık. Bruh moment öyle bir andır ki</p>
    <button class="btn btn-primary">Kaydet</button>
    <button class="btn btn-danger">Sil</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
