<form class="d-flex" role="search"
      asp-area="Admin"
      asp-controller="Product"
      asp-action="Search">
    <input class="form-control me-2" type="search" name="q" placeholder="Ara..." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Ara</button>
</form>