@{
    ViewData["Title"] = "Home Page";
}


<a class="btn btn-success" asp-controller="Home" asp-action="YasGrubu">Yaş Grubu Hesaplama</a>
<a class="btn btn-success" asp-controller="Home" asp-action="CreateProduct">Create Product</a>
















@* post = verileri al sunucuya gönder *@
@* <form asp-controller="Home" asp-action="VerileriAl" method="post"> 
    <label for="" name="txtAd">Ad</label>
    <input type="text" name="">
    <label for="" name="txtYas">Yaş</label>
    <input type="text" name="">
    <input type="submit" value="Gönder">
</form> *@